footer {
    background-color: #343a40 !important;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px 0px;
}

.liao-intro {
    margin: 25px 0px;
    text-align: center;
}

.food-col {
    margin-bottom: 15px;
}

.sub-title {
    font-style: italic;
    color: #333;
}

.btn-submit-rate {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.res-detail-view {
    margin: 30px 0;
    border-bottom: 1px solid #e1e1e1;
}

.edit-delete {
    display: flex;
    justify-content: flex-end;
}

.res-detail-item {
    margin-bottom: 10px;
}

.wrap-avatar img {
    border-radius: 50%;
}

.user-form {
    align-items: center;
    margin-bottom: 20px;
}
